* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1535px;
  margin: 0 auto;
}
nav .container1 {
  background-color: white;
  width: 100%;
  height: 200px;
  display: flex;
}
.container1 a {
  text-decoration: none;
  color: black;
  font-family: helvetica;
}
.box1 {
  position: relative;
  left: 60px;
  top: -20px;
}
.box2 {
  font-size: 20px;
  font-family: helvetica;
  font-weight: bold;
  position: relative;
  left: 70px;
  top: 20px;
}
.box3 {
  position: relative;
  left: 120px;
}
.box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11 {
  font-size: 14px;
  margin-top: 25px;
}
.box4 {
  position: relative;
  left: 165px;
}
.box5 {
  position: relative;
  left: 195px;
}
.box6 {
  position: relative;
  left: 235px;
}
.box7 {
  position: relative;
  left: 280px;
}
.box8 {
  position: relative;
  left: 325px;
}
.box9 {
  position: relative;
  left: 370px;
}
.box10 {
  position: relative;
  left: 415px;
}
.box11 {
  position: relative;
  left: 450px;
}
.sel1 {
  border: none;
  width: 55px;
}
.sel1:hover {
  cursor: pointer;
}
.box3 a:hover,
.box4 a:hover,
.box5 a:hover,
.box6 a:hover,
.box7 a:hover,
.box9 a:hover,
.box10 a:hover,
.box11 a:hover {
  color: red;
  border-bottom: 2px solid red;
}
.box3 a,
.box4 a,
.box5 a,
.box6 a,
.box7 a,
.box9 a,
.box10 a,
.box11 a {
  transition: 0.3s;
}
.box9 a,
.box10 a {
  color: red;
}
.container11 {
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 130px;
  border-top: 1px solid dimgrey;
}
.link {
  color: black;
  margin-left: 100px;
  position: relative;
  top: 35px;
}
.link a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.7;
  display: inline-block;
}
.link a:hover {
  color: red;
}
.link a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: red;
  transition: 0.1s ;
}
.link a:hover:after {
  width: 100%;
}
.link1 {
  max-width: 170px;
  color: black;
  position: relative;
  top: 15px;
  margin-left: 400px;
  margin-top: -150px;
  line-height: 1.7;
}
.link1 a:hover {
  color: red;
}
.link1 a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.7;
}
.link1 a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: red;
  transition: 0.1s ;
}
.link1 a:hover:after {
  width: 100%;
}
.link3 {
  margin-top: -150px;
}
.link3 a {
  max-width: 200px;
  color: black;
  position: relative;
  left: 700px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
.link3 a:hover {
  color: red;
}
.link4 {
  max-width: 130px;
  position: relative;
  left: 700px;
  top: 10px;
  font-weight: bold;
  line-height: 1.8;
}
.link4 a {
  text-decoration: none;
  color: red;
  cursor: pointer;
  display: inline-block;
  line-height: 1.8;
}
.link4 a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: red;
  transition: 0.1s ;
}
.link4 a:hover:after {
  width: 100%;
}
.text-input3 a button {
  cursor: pointer;
  padding: 15px 35px;
  font-size: 20px;
  color: red;
  background-color: white;
  position: relative;
  left: 690px;
  top: 25px;
  font-family: helvetica;
  border: 1px solid red;
  border-radius: 5px;
  transition: 0.5s;
}
.text-input3 a button:hover {
  opacity: 0.7;
  background-color: red;
  color: white;
}
.footer__copyright_wrapper {
  margin-left: 1050px;
  max-width: 400px;
  font-size: 17px;
  margin-top: -100px;
}
.text2 {
  opacity: 1;
  margin-left: 1050px;
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 100px;
}
.text2 {
  margin-top: -70px;
}
.ctrl {
  color: gray;
  font-size: 19px;
  text-decoration: none;
}
.ctrl a:after {
  display: block;
  content: "";
  height: 0.5px;
  width: 0%;
  background-color: black;
  transition: 0.1s ;
}
.ctrl a:hover:after {
  width: 100%;
}
.box36 {
  margin-left: 960px;
  margin-top: -195px;
}
.footercopyright_wrapper {
  margin-left: 1050px;
  margin-top: -90px;
  line-height: 20px;
}
.box37 {
  margin-top: 35px;
}
.container4 {
  width: 100%;
  position: relative;
  background-color: rgb(235,237,236);
  bottom: 130px;
  font-family: helvetica;
  height: 420px;
}
.container4 h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 28px;
}
.box14, .box15, .box16, .box17, .box18, .box19, .box20, .box21 {
  display: flex;
}
.container4 img {
  margin-right: 20px;
}
.box16, .box17, .box18, .box19, .box20, .box21 {
  margin-right: 80px;
}
.box14, .box15 {
  margin-left: 200px;
  margin-top: 60px;
}
.box19 {
  margin-right: 120px;
}
.box20 {
  margin-right: 90px;
}
.box18 p,
.box20 p {
  margin-left: 10px;
}
.container1 {
  width: 100%;
  font-family: helvetica;
  color: white;
}
.box13 {
  position: relative;
  background-color: cadetblue;
  height: 200px;
  bottom: 130px;
}
.box13 h1,
.box13 p {
  margin-left: 80px;
}
.box13 h1 {
  padding-top: 30px;
  font-size: 28px;
}
.box13 p {
  margin-top: 30px;
  color: lightgrey;
}
.container2 {
  width: 100%;
  position: relative;
  bottom: 130px;
  font-family: helvetica;
  height: 660px;
}
.box12 {
  display: grid;
  margin-left: 80px;
  margin-top: 40px;
}
.box12 p:first-of-type b {
  color: red;
}
.box12 h1 {
  margin-top: 40px;
}
.box12 input:first-of-type {
  margin-top: 40px;
  width: 800px;
  height: 40px;
  font-size: 17px;
  padding-left: 15px;
}
.box12 p:nth-of-type(2) {
  margin-top: 40px;
}
.box12 textarea {
  margin-top: 30px;
  width: 800px;
}
.box12 input:nth-of-type(2) {
  margin-top: 30px;
  width: 800px;
  height: 40px;
  font-size: 17px;
  padding-left: 15px;
}
.box12 input:nth-of-type(3) {
  box-shadow: 0px 0px 20px 5px coral;
  background: linear-gradient(to bottom, darkorange, coral, tomato, orangered, red);
  color: white;
  padding: 15px 30px 15px 30px;
  transition: 0.5s;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  margin-top: 40px;
  width: 250px;
}
.box12 input:nth-of-type(3):hover {
  opacity: 0.7;
}
.box12 p:nth-of-type(3) {
  color: red;
  padding-top: 20px;
  display: none;
}
.box12 input[type="submit"]:focus + p:nth-of-type(3) {
  display: block;
}
