* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1535px;
  margin: 0 auto;
}
nav .container1 {
  background-color: white;
  width: 100%;
  height: 200px;
  display: flex;
}
.container1 a {
  text-decoration: none;
  color: black;
  font-family: helvetica;
}
.box1 {
  position: relative;
  left: 60px;
  top: -20px;
}
.box2 {
  font-size: 20px;
  font-family: helvetica;
  font-weight: bold;
  position: relative;
  left: 70px;
  top: 20px;
}
.box3 {
  position: relative;
  left: 120px;
}
.box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11 {
  font-size: 14px;
  margin-top: 25px;
}
.box4 {
  position: relative;
  left: 165px;
}
.box5 {
  position: relative;
  left: 195px;
}
.box6 {
  position: relative;
  left: 235px;
}
.box7 {
  position: relative;
  left: 280px;
}
.box8 {
  position: relative;
  left: 325px;
}
.box9 {
  position: relative;
  left: 370px;
}
.box10 {
  position: relative;
  left: 415px;
}
.box11 {
  position: relative;
  left: 450px;
}
.sel1 {
  border: none;
  width: 55px;
}
.sel1:hover {
  cursor: pointer;
}
.box3 a:hover,
.box4 a:hover,
.box5 a:hover,
.box6 a:hover,
.box7 a:hover,
.box9 a:hover,
.box10 a:hover,
.box11 a:hover {
  color: red;
  border-bottom: 2px solid red;
}
.box3 a,
.box4 a,
.box5 a,
.box6 a,
.box7 a,
.box9 a,
.box10 a,
.box11 a {
  transition: 0.3s;
}
.box9 a,
.box10 a {
  color: red;
}
.container3 {
  height: 120px;
  background-color: rgb(235,237,236);
  width: 100%;
  position: relative;
  bottom: 130px;
  font-family: helvetica;
}
.box13 {
  display: flex;
  position: relative;
  right: 60px;
}
.box13 button {
  padding: 11px;
  font-size: 17px;
  color: white;
  position: relative;
  top: 39px;
  left: 30px;
  border: none;
  transition: 0.5s;
  background-color: mediumseagreen;
  border-radius: 3px;
}
.box13 button:hover {
  opacity: 0.7;
  cursor: pointer
}
.container3 h1 {
  margin-left: 300px;
  font-size: 30px;
  margin-top: 40px;
}
.container3 input:first-of-type {
  position: relative;
  top: 40px;
  width: 500px;
  height: 40px;
  left: 50px;
  padding-left: 10px;
}
.box12 {
  margin-top: 45px;
  margin-left: 100px;
  font-weight: bold;
  font-size: 23px;
}
.container3 input:nth-of-type(2) {
  position: relative;
  top: 40px;
  width: 90px;
  height: 40px;
  left: 60px;
  background-color: red;
  color: white;
  transition: 0.5s;
}
.container3 input:nth-of-type(2):hover {
  cursor: pointer;
  opacity: 0.7;
}
.container11 {
  width: 100%;
  height: 320px;
  position: relative;
  top: 200px;
  border-top: 1px solid dimgrey;
}
.link {
  color: black;
  margin-left: 100px;
  position: relative;
  top: 35px;
}
.link a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.7;
  display: inline-block;
}
.link a:hover {
  color: red;
}
.link a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: red;
  transition: 0.1s ;
}
.link a:hover:after {
  width: 100%;
}
.link1 {
  max-width: 170px;
  color: black;
  position: relative;
  top: 15px;
  margin-left: 400px;
  margin-top: -150px;
  line-height: 1.7;
}
.link1 a:hover {
  color: red;
}
.link1 a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.7;
}
.link1 a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: red;
  transition: 0.1s ;
}
.link1 a:hover:after {
  width: 100%;
}
.link3 {
  margin-top: -150px;
}
.link3 a {
  color: black;
  position: relative;
  left: 700px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
.link3 a:hover {
  color: red;
}
.link4 {
  max-width: 130px;
  position: relative;
  left: 700px;
  top: 10px;
  font-weight: bold;
  line-height: 1.8;
}
.link4 a {
  text-decoration: none;
  color: red;
  cursor: pointer;
  display: inline-block;
  line-height: 1.8;
}
.link4 a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: red;
  transition: 0.1s ;
}
.link4 a:hover:after {
  width: 100%;
}
.text-input3 a button {
  cursor: pointer;
  padding: 15px 35px;
  font-size: 20px;
  color: red;
  background-color: white;
  position: relative;
  left: 690px;
  top: 25px;
  font-family: helvetica;
  border: 1px solid red;
  border-radius: 5px;
  transition: 0.5s;
}
.text-input3 a button:hover {
  opacity: 0.7;
  background-color: red;
  color: white;
}
.text2 {
  opacity: 1;
  margin-left: 1050px;
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 100px;
}
.text2 {
  margin-top: -70px;
}
.ctrl {
  color: gray;
  font-size: 19px;
  text-decoration: none;
}
.ctrl a:after {
  display: block;
  content: "";
  height: 0.5px;
  width: 0%;
  background-color: black;
  transition: 0.1s ;
}
.ctrl a:hover:after {
  width: 100%;
}
.box36 {
  margin-left: 960px;
  margin-top: -195px;
}
.footercopyright_wrapper {
  margin-left: 1050px;
  margin-top: -90px;
  line-height: 20px;
}
.box37 {
  margin-top: 35px;
}
.box14 button:hover {
  cursor: pointer;
  opacity: 0.7;
  padding: 15px 60px 15px 60px;
}
.box14 a {
  text-decoration: none;
  color: white;
}
.box14 button {
  padding: 15px;
  border-radius: 25px;
  font-size: 17px;
  color: white;
  position: relative;
  top: 710px;
  border: none;
  transition: 0.5s;
  margin-left: 100px;
}
.box14 button:nth-of-type(2) {
  background-color: red;
}
.box14 button:first-of-type {
  background-color: mediumseagreen;
}
.container4 {
  text-align: center;
}
.container4 h1 {
  font-family: helvetica;
  font-size: 30px;
  margin-top: -60px;
}
.box14 {
  margin-top: 30px;
  margin-left: -100px;
}
.box15 {
  width: 70%;
  margin-left: 240px;
  margin-top: -10px;
  height: 600px;
  border: 2px solid black;
}
h2 {
  font-weight: normal;
  font-size: 18px;
  padding-top: 15px;
}
.box42 {
  display: flex;
}
.box42 {
  margin-left: 85px;
  margin-top: 30px;
}
.box45, .box46 {
  margin-right: 140px;
}
.box47 {
  margin-right: 120px;
}
.box45 img {
  margin-left: 17px;
}
.box46 img {
  margin-left: 25px;
}
.box47 img {
  margin-left: 5px;
}
.box48 img {
  margin-left: 15px;
}
.box42 a {
  color: mediumseagreen;
  text-decoration: none;
  transition: 0.5s;
}
.box42 a:hover {
  border-bottom: 2px solid mediumseagreen;
}
